<footer class="main-footer">
    <div class="footer-content">
        <div class="footer-section about">
            <h3>RotaBlog</h3>
            <p>Dünyanın gizli kalmış cennetlerini, en lezzetli mutfaklarını ve unutulmaz rotalarını keşfetmeniz için hazırladığımız dijital seyahat günlüğü.</p>
        </div>
        
        <div class="footer-section social">
            <h3>Bizi Takip Edin</h3>
            <div class="icons">
                <!-- Linkleri kendi sosyal medya hesaplarına göre düzenle -->
                <a href="https://www.instagram.com/rotablogcom/" target="_blank" >Instagram</a>
            </div>
        </div>

        <div class="footer-section links">
            <h3>Hızlı Erişim</h3>
            <ul>
                <li><a href="/sayfa/hakkimda">Biz Kimiz?</a></li>
                <li><a href="/sayfa/iletisim">İletişim & İşbirliği</a></li>
                <li><a href="/">Son Yazılar</a></li>
                <li><a href="/sayfa/gizlilik-politikasi">Gizlilik Politikası</a></li>
                <li><a href="/sayfa/kullanim-sartlari">Kullanım Şartları</a></li>
            </ul>
        </div>
    </div>
    <div class="footer-bottom">
        &copy; 2025 RotaBlog | Tüm hakları saklıdır.
    </div>
</footer>
</body>
</html>